@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: black;
    --cor-de-cabeçalho: rgb(185, 30, 30);
    --cor-de-texto-principal: rgb(252, 252, 252);
    --cor-menu: #000000;
    --cor-menu-itens: rgb(0, 0, 0);
    --fonte-principal: "Poppins";
    font-family: 'Poppins', sans-serif;
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    background-color: var(--cor-de-cabeçalho);
    color: var(--cor-de-texto-principal);
}

.logo{
    width: 30%;
}

.eu{
    width: 20%;
    border-radius: 80%;
}